<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Emotional Design</title>
</head>
<body>
    <div class="container">
        <h1>Emotional Design: Positivity vibes and Motivation Quotes App</h1>
        <form action="/get_quotes" method="post">
            <label for="api_key">API Key(Please go to https://platform.openai.com/api-keys to get your OpenAI API key):</label>
            <input type="password" name="api_key" id="api_key" required value="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">
            Show API Key<input type="checkbox" onclick="showHideApiKey()" style="align:left;"> <br/><br/><br/><hr/>

            <label for="age_group">Age Group:</label>
            <select name="age_group" id="age_group">
                <option value="under_18">Under 18</option>
                <option value="18_30">18-30</option>
                <option value="30_40">30-40</option>
                <option value="40_50">40-50</option>
                <option value="50_60">50-60</option>
                <option value="60_plus">60+</option>
            </select>

            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="confidential">Confidential</option>
            </select>

            <button type="submit">Get Quotes</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if quotes %}
            <div class="quotes">
                <p>{{ quotes }}</p>
            </div>
        {% elif loading %}
            <p class="loading">Loading quotes...</p>
        {% endif %}
    </div>

    <script>
        function showHideApiKey() {
            var apiKeyInput = document.getElementById("api_key");
            if (apiKeyInput.type === "password") {
                apiKeyInput.type = "text";
            } else {
                apiKeyInput.type = "password";
            }
        }
    </script>
</body>
</html>
